{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "not last 2 ie version", "iOS >= 9"],
          "node": "current"
        }
      }
    ]
  ]
}
